.contenedor-hidden{
    background: mistyrose;
    height: 100px;
    width: 300px;
    padding: 15px;
    overflow: hidden;
}
.contenedor-scroll{
    background: mistyrose;
    height: 100px;
    width: 300px;
    padding: 15px;
    overflow: scroll;
}

.contenedor-visible{
    background: mistyrose;
    height: 100px;
    width: 300px;
    padding: 15px;
    overflow: visible;
}
.contenedor-auto{
    background: mistyrose;
    height: 100px;
    width: 300px;
    padding: 15px;
    overflow: auto;
}
.contenedor-scroll-y{
    background: mistyrose;
    height: 100px;
    width: 300px;
    padding: 15px;
    overflow-y: scroll;
}